.DS_Store
node_modules
bridge-api/node_modules
bridge-api/dist
bridge-api/build
/build
/.svelte-kit
/package
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
build/
/volumes
/dist